*{
    margin: 5;
    padding: 5;
}
.buttons_1{
    width: 120px;
    cursor: pointer;
}
.para_1{
    font-size: 20px;
    color: rgb(74, 126, 240)
}
.data_1{
    float: left;
    width: 40%;
}
.data_2{
    float: right;
    width: 50%;
    padding-top: 60px;
}
.button_2{
    border: 2px solid green;
    color: green;
    background-color: transparent;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}